<.form :let={f} for={@changeset} action={@action}>
  <.input field={f[:content]} type="textarea" label="Content" />
  <.input field={f[:user_id]} type="number" label="User" />
  <footer>
    <.button variant="primary">Save Micropost</.button>
    <.button :if={@return_to} href={@return_to}>Cancel</.button>
  </footer>
</.form>
